<ion-header>
  <ion-toolbar>
    <ion-title class="my-title" >quoteList</ion-title>
    <ion-icon slot="end" name="people"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-grid>
  <ion-row>
    <ion-col>#1 La super quote !</ion-col>
    <ion-col>
      <ion-button>
        <ion-icon name="build"></ion-icon>
      <ion-label>Edit</ion-label>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button>
        <ion-icon name="trash"></ion-icon>
      <ion-label>Delete</ion-label>
      </ion-button>
    </ion-col>
  </ion-row>
  
  <ion-row>
    <ion-col>#2 La super quote !</ion-col>
    <ion-col>
      <ion-button>
        <ion-icon name="build"></ion-icon>
      <ion-label>Edit</ion-label>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button>
        <ion-icon name="trash"></ion-icon>
      <ion-label>Delete</ion-label>
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>#3 La super quote !</ion-col>
    <ion-col>
      <ion-button>
        <ion-icon name="build"></ion-icon>
      <ion-label>Edit</ion-label>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button>
        <ion-icon name="trash"></ion-icon>
      <ion-label>Delete</ion-label>
      </ion-button>
    </ion-col>
  </ion-row>

  <!-- Add more rows as needed -->

</ion-grid>
