<ion-header>
  <ion-toolbar>
    <ion-title>
      TypeTrainer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <h1>Prêt à améliorer votre vitesse de frappe ?</h1>
    <p>
      Commencez dès maintenant à pratiquer votre dactylographie avec notre application gratuite. Choisissez parmi une variété de textes et de défis de vitesse pour vous entraîner et améliorer votre vitesse de frappe. Connectez-vous pour suivre votre progression et défiez vos amis pour voir qui est le plus rapide.
    </p>
    <ion-button expand="block" routerLink="/write">Commencer</ion-button>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Connectez-vous pour sauvegarder votre progression</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Connectez-vous pour suivre votre progression et défier vos amis pour voir qui est le plus rapide.
      </ion-card-content>
      <ion-item>
        <ion-icon slot="start" name="username"></ion-icon>
        <ion-input type="text" placeholder="Nom d'utilisateur"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="password"></ion-icon>
        <ion-input type="password" placeholder="Mot de passe"></ion-input>
      </ion-item>
      <ion-button expand="block" routerLink="/login">Se connecter</ion-button>
    </ion-card>
  </div>
</ion-content>
